:root {
  --border-color: #eee;
  --text-color: #bbb;
  --header-color: #444;
}

* {
    margin: 0;
    font-family: monospace;
}

body {
    background: #fff;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 15px;
}

#login {
    background: #f8f8f8;
    border: 3px solid var(--border-color);
    text-align: center;

}

 input {
    margin: 15px auto;
    display: block;
    border: 3px solid var(--border-color);
}

h1 {
    color: var(--header-color);
}

div.tooltip {
    color: var(--text-color);
}

div.version {
    position: absolute;
    top:10px;
    left:10px;
}
div.version::after {
    content: "SkillPyVulnerable v0.1";
    color: var(--border-color);
}
