<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/wall.js" async></script>
    <title>Drawing Wall</title>
</head>
<body>
<div class="version"></div>
<div class="content">
    <h1>Draw on the wall</h1>
    <input type="text" name="drawing" placeholder="Your text goes here" />
    <div class="tooltip">Press Enter</div>
    <!-- STORED XSS -->
    <div class="wall">{{ wall_text|safe }}</div>
</div>

</body>
</html>