<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/app.js" async></script>
    <title>Title</title>
</head>
<body>
<div class="version"></div>
<div class="popup" id="login">
    <form>
        <h1>Welcome to admin panel</h1>
        <input autocomplete="username" type="text" name="login" placeholder="Enter your login" />
        <input autocomplete="current-password" type="password" name="password" placeholder="And password" />
        <div class="tooltip">Press Enter</div>
    </form>
</div>
</body>
</html>